{% extends "base.html" %}

{% block content%}
<h1 class="text-center">{{post.title}}</h1>
    <div class="container content">
        <div class="post-card text-center">
            <div class="img-container">
                <img src="{{ collins.image.url }}" class="img-responsive" style="width:100%;margin-left: 0%;margin-top:15px; ">
            </div>
            <h2>{{post.title}}</h2>
            <img src="{{ collins.image.url }}" class="img-responsive" style="width:100%;margin-left: 0%;margin-top:15px; ">
            <div>
                <p>{{post.content}}</p>
            </div>
        </div>
        <div class="row comment-row">
            <div class="comment-card col-sm-4">
                <h3>Leave a Comment</h3>
                
            </div>
            <div class="comments-card col-sm-6">
                <h3>Comments</h3>
                {% if comments %}
                {% for comment in comments%}
                <img src="{{ collins.image.url }}" class="img-responsive" style="width:100%;margin-left: 0%;margin-top:15px; ">
                {% endfor%}
                {% else %}
                <p>There are no comments</p>
                {% endif %}
            </div>
        </div>

    </div>
{% endblock%}

